//============================
//    Name: Footer
//============================

myfooter {
	+__() {
		.section--background {
			background-image linear-gradient(to top, black, #0000);
		}
		.section {
			position absolute
			bottom 0
			width 100%
			z-index 3
			padding: 18.1rem 0 0;
		}
		.box {
			display: grid;
			grid-auto-flow: column;
			justify-content: space-between;
			align-items: center;
			margin: auto;
			max-width: 1600px;
			padding: 1rem 2rem;
			+media(1024) {
				gap: 1rem;
				padding 1rem
			}
			+media(968) {
				grid-auto-flow: row
				justify-content center
			}
		}
		.item {
			display: grid;
		}
		.title {
			color: #fff;
		}
		.text {
			color: #fff;
		}
		.contact-telformat {
			text-decoration none
			color: #fff;
			font-size 21.78px
			font-weight bold
			+media(1024) {
				font-size 1rem
			}
		}
		.contact-telcall {
			display: grid;
			align-items: center;
			justify-content: center;
			grid-auto-flow: column;
			gap: .3rem;
			font-size 16.5px
			font-weight bold
			color: #86ae63;
			text-decoration underline
			cursor pointer
			transition .25s __cubic
			&:hover {
				background-color rgba(#6cd859, .75)
				color: #fff;
				radius: 23px;
				padding 7px 21px
			}
			&:active {
				transform scale(.98)
			}
		}
		.contact,
		.copyright {
			display: inline-grid;
			grid-auto-flow: column;
			color: #fff;
			align-items: center;
			gap 1rem
		}
		.copyright {
			gap 32px
			+media(1024) {
				gap: 1rem;
			}
		}
		.copyright-item {
			color: #8a8e94;
			font-size 11.82px
			transition .25s __cubic
			&:not(:first-child):hover {
				color: #fff;
			}
		} 
		.copyright-document {
			text-decoration underline
		}
		.copyright-download {
			text-decoration underline
			display: grid;
			align-items: center;
			justify-content: center;
			grid-auto-flow: column;
			gap: .3rem;
		}
		.social {
			display: inline-grid;
			grid-auto-flow: column
			gap 10px
		}
		.social-item {
			display: grid;
			background-color #8b8b8b
			width 30px
			height 30px
			radius: 100%;
			justify-content: center;
			align-items: center;
			user-select none
			cursor pointer
			transition .25s __cubic
			&:hover {
				radius: 7px;
				transform scale(1.12)
			}
			&:active {
				transform scale(.98)
			}
		}
		.social-item:nth-child(1):hover {
			background-color #3389d8;
		}
		.social-item:nth-child(2):hover {
			background-color #2e91ee;
		}
		.social-item:nth-child(3):hover {
			background-color #d5434d;
		}
	}
}

.myfooter__contact-telcall:hover .glyphs__income-call {
	fill: #fff;
	stroke: #fff;
}