//============================
//    Name: Header
//============================

myheader {
	+__() {
		.section--background {
			background-image linear-gradient(to bottom, rgba(#000, .30), #0000);
		}
		.section {
			position absolute
			top 0
			width 100%
			z-index 3
			height 300px
		}
		.box {
			display: grid;
			grid-auto-flow: column
			max-width: 1600px;
			padding: 0 8rem;
			margin-left auto
			margin-right auto
			justify-content end
			gap 60px
			margin-top 35px
			+media(1440) {
				padding 0 3rem
			}
			+media(1024) {
				padding 0 1rem
				gap .5rem
				grid-auto-flow: row
				justify-content center
			}
		}
		.item {
			display: grid;
			grid-auto-flow: column
		}
		.panel {
			background-color #fff;
			border 1px solid #f7f7f7
			box-shadow: 1px 0 6px 0 rgba(#000, .53);
			
		}
		.list {
			display: grid;
			overflow hidden
			padding 10px 8px
		}
		.list:nth-child(2) {
			margin-top -2.1rem
			padding 0 0
			gap unset
		}
		.list-item:first-child {
			margin-left 22px
		}
		.list-item:last-child {
			margin-right 22px
		}
		.list-item {
			font-family: 'i-PTSans', sans-serif;
			color: #232221;
			font-size 12.5px
			text-transform uppercase
			position relative
			padding 11px 12px
			cursor pointer
			margin -1px 0
			transform rotate(24deg);
			height 400%
			display: grid;
			justify-content: center;
			align-items: center;
			&:hover {
				background-color tomato
			}
			+media(1024) {
				font-size 11px
			}
		}
		
		.list-rotate {
			transform rotate(-24deg);
			&:before {
				content: '';
				width 1px
				height 16px
				background-color #b7b7b7;
				display: grid;
				position: absolute;
				top -2px
				right: -17px;
				transform rotate(24deg)
			}
		}
		
		.panel-item,
		.favorites {
			display: grid;
			grid-auto-flow: column;
			justify-content: center;
			align-items: center;
			gap: 0.55rem;
			margin -1px
		}
		.favorites {
			gap 13px
			position relative
			transition .25s __cubic
			cursor pointer
			user-select none
			&:hover {
				transition .25s __cubic
			}
			+media(1024) {
				justify-content end
				max-width: 119px;
				margin-left: auto;
			}
		}
		.favorites-text {
			color: #fff;
			font-size 12px;
			text-decoration underline
			position relative
			z-index 4
		}
		.favorites-count {
			color: #fff;
			font-size 12px;
			width 2rem
			height 2rem
			radius: 100%;
			display: grid;
			justify-content: center;
			align-items: center;
			position relative
			z-index 4
		}
		.favorites-bubble {
			width 2rem
			height 2rem
			background-color #fd4c37;
			radius: 23px
			display: grid;
			position absolute
			right 0
			transition .25s __cubic
			transform translateZ(0)
		}
		.burger {
			justify-content: center;
			align-items: center;
		}
		.menu {
			display: grid;
		}
		.menu-line {
			background-color #000;
			color: #000;
			height 4px
			width 33px
		}
	}
}

.myheader__list-item:last-child .myheader__list-rotate:before {
	visibility hidden 
}

.myheader__favorites:hover .myheader__favorites-bubble {
	width 110%
}
.myheader__favorites:active .myheader__favorites-bubble {
	transform scale(.9)
}


for i in 0 .. 4 {
	color-a = '' #a7d097 #f5936c #f8a04a #fdc25c
	color-b = '' #f17c99 #bd5d91 #9a76b0 #6eb3c9
	.myheader__list-color-a:nth-child({i}):hover {
		background-color color-a[i];
	}
	.myheader__list-color-b:nth-child({i}):hover {
		background-color color-b[i];
	}
}
