//============================
//    Name: Main page
//============================

hero {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: row
			margin-left auto
			margin-right auto
			height 100vh
			align-items end
		}
		.box--background {
			background-position 0 50%
			background-size cover
			background-repeat no-repeat
			position: absolute;
			width: 100%;
			background-color #fff;
		}
		.box--animation {
			filter: blur(15px);
			animation blur-my-back 1s .1s forwards
		}
	}
}

+key(blur-my-back) {
	0% {
		filter: blur(15px);
	}
	100% {
		filter: blur(0);
	}
}

bonus {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: row;
			grid: auto \/ 615px;
			max-width: 1600px;
			margin-left: 20rem;
			margin-right: auto;
			+media(1024) {
				margin-left 1rem
			}
		}
		.section {
			padding: 0 0 6.25rem;
			margin-top 6.25rem;
			align-self: start;
			display: grid;
			justify-content: center;
			z-index 4
			+media(1024) {
				justify-content: start;
				width 70%
			}	
		}
		.button {
			display: grid;
			justify-content: center;
			align-items: center;
			background-color rgba(#202437, .90)
			padding 18px 28px
			width 253px
			height 62px
			gap 7px
			cursor pointer
			user-select none
			transition .25s __cubic
			&:hover {
				background-color: rgba(#202437, 1);
			}
		}
		.button-text {
			color: #fff;
			font-size 12.5px
			border-bottom 1px dotted #fff
			transition .25s __cubic
		}
		.button-arrow {
			display: grid;
			justify-content: center;
			align-items: center;
		}
		.button-line {
			x = 65deg
			h = 10px
			w = 2px
			background-color rgba(#fff)
			width w
			height h
			grid-column: 1;
			grid-row: 1;
			transform rotate(- x)
			transition .25s __cubic
			&:nth-child(2) {
				margin-left h - w
				transform rotate(x)
			}
		}
		.content {
			display none
			background-color #fff;
			width 615px
			height auto
			padding 31px 36px
			justify-content: center;
			align-items: center;
			position relative
			animation smooth-show .25s
		}
		.content-text {
			color: #59616a;
			font-size 15px
			white-space: pre-line;
		}
		.content-close {
			x = 37px
			display: grid;
			visibility hidden
			background-color: rgba(#202437, .90);
			width: x;
			height: x;
			position: absolute;
			right: - x;
			top: 0;
			justify-content: center;
			align-items: center;
			cursor pointer
			user-select none
			transition .25s __cubic
			animation smooth-show-close .25s .20s forwards
			&:hover {
				background-color: rgba(#202437, 1);
			}
		}
		.content-line {
			x = 45deg
			background-color #a0a2a9
			width 1px
			height 27px
			grid-column: 1;
			grid-row: 1;
			transform rotate(- x)
			&:nth-child(2) {
				transform rotate(x)
			}
		}
	}
}

.bonus__button.active {
	background-color: rgba(#202437, 1);
	+.bonus__content {
		display: grid;
	}
	+.bonus__content-close {
		display: grid;
	}
}
.bonus__button.active .bonus__button-line {
	transform rotate(- 60deg * 2)
	&:nth-child(2) {
		transform rotate(60deg * 2)
	}
}
 
.bonus__content-close:hover .bonus__content-line {
	transition .25s __cubic
	background-color rgba(#fff, 1)
}

gallary {
	+__() {
		.section {
			padding: 100px 0
			+media(968) {
				padding 100px 0 150px
			}
		}
		.section--background {
			background-image: linear-gradient(to top, rgba(#000, .75), #0000);
		}
		.box {
			display: grid;
			grid: auto \/ auto auto 1fr;
			max-width: 1600px;
			margin-left: auto;
			margin-right: auto;
			padding 0 66px
			gap 120px
			align-items: start;
			z-index 4
			position relative
			+media(1440) {
				gap: 70px
			}
			+media(1024) {
				padding 0 1rem
				gap 2rem
				grid unset
				justify-content: center;
				align-items: center;
			}
		}
		.nav {
			max-width 390px
			+media(1024) {
				display: grid;
				grid-column: 1/3;
				grid-row: 2;
			}
			+media(968) {
				grid-column: auto;
			}
		}
		.nav-item {
			width 70px
			height 38px
			overflow hidden
			user-select none
			cursor pointer
			transition .25s __cubic
			border 1px solid #0000
			transform scale(.77)
			filter: grayscale(100%)
			&:hover {
				filter: grayscale(0)
				transform scale(1)
			}
		}
		.nav-picture {
			object-fit: cover;
			height: 100%;
			width: 100%;
			max-width: 100%;
		}
		.nav-text {
			size = 60px
			font-size 17.7px
			color: #fff;
			height size
			max-height size
			overflow hidden
		}
		.nav-descript {
			width: 0;
			height: 0;
			font-size: 0;
			line-height: 0;
			visibility: hidden;
		}
		.nav-panel {
			margin-top 27px
			display: inline-grid;
			grid-auto-flow: column
		}
		.project {
			display: inline-grid;
			grid-auto-flow: column
			justify-content: center;
			align-items: center;
			gap 14px
		}
		.project-item {
			display: grid;
			justify-content: end;
			align-items: center;
			border: 1px solid #747474;
			width: 9.9375rem;
			height: 7.0625rem;
			overflow: hidden;
			cursor pointer
			user-select none
			transition .25s __cubic
			&:hover {
				box-shadow: __shadowHover
				transform translateY(-4px) scale(1.05)
			}
		}
		.project-text {
			display: grid;
			color: #fff;
			background-color rgba(#000, .60)
			font-size 12.8px
			height 39px
			justify-content: center;
			align-items: center;
			transition .25s __cubic
		}
		.project-img {
			display: grid;
			object-fit: cover;
			height: 74px;
		}
		.project-cover {
			overflow hidden
		}
		.news {
			+media(1024) {
				display: grid;
				grid-auto-flow: column
				gap: 0 1rem;
			}
		}
		.news-mobile {
			+media(1024) {
				display: grid;
				grid-column: 1/2
				grid-row: 1/4
			}
		}
		.news-data {
			margin-top 12px
			font-size 11px
			color: #8f8f8f;
			font-style italic
		}
		.news-title {
			margin-top 6px
			font-size 12.32px
			color: #cdd1da;
			text-decoration underline
		}
		.news-next {
			margin-top 16px
			font-size 11.5px
			color: #86ae63;
			text-decoration underline
			display: grid;
			justify-content: start;
			align-items: center;
			grid-auto-flow: column;
			gap: .3rem;
		}
		.news-data,
		.news-title,
		.news-next {
			+media(1024) {
				margin-top .3rem
			}
		}
		.news-data {
			+media(1024) {
				margin-top 0
			}
		}
	}
}

.gallary__nav-item.active {
	border 1px solid #727271
	transform scale(1)
	filter: grayscale(0)
}
.gallary__project-item:hover .gallary__project-text {
	background-color rgba(#000, .75)
}

.x--hack-resize {
	margin-left -12px
}

+key(smooth-show) {
	0% {
		opacity 0
		transform: translateY(-10%);
	}
	100% {
		opacity 1
		transform: translateY(0%);
	}
}
+key(smooth-show-close) {
	0% {
		visibility hidden
		transform: scale(0);
	}
	100% {
		visibility visible
		transform: scale(1);
	}
}