//============================
//    	Name: SVGICONS
//============================
 

glyphs {
	+__() {
		 .checked {
		 	width 1rem
		 	height 1rem
		 	fill: $$null;
		 	stroke: #f6486c;
		 }
		 .income-call {
		 	width 18px
		 	height 18px
		 	fill: #86ae63; 
		 	stroke: #86ae63;
		 }
		 .vk-logo,
		 .instagram-logo,
		 .facebook-logo {
		 	width 1rem
		 	height 1rem
		 	stroke: $$null;
		 	fill: #fff;
		 }
		 .download-pdf {
		 	width: 1rem;
		 	height: 1rem;
		 	fill: #fff;
		 	stroke: #fff;
		 }
		 .right-arrow {
		 	glyph: $right-arrow$;
		 	width: 8px;
		 	height: 8px;
		 	fill: #86ae63;
		 	stroke: #86ae63;
		 }
	}
}