<div role="contentinfo" class="myfooter__section myfooter__section--background">
	<address class="myfooter myfooter__box">
		<div class="myfooter__contact">
			<a class="myfooter__contact-item myfooter__contact-telformat" title="TEL" role="link" href="tel:+7-495-777-555-4">
			+7 (495) 777 555 4</a>
			<a class="myfooter__contact-item myfooter__contact-telcall" title="RECALL" role="link" href="#">
				<svg role="picture-svg" class="glyphs__income-call">
					<use xlink:href="#id-glyphs-income-call"></use>
				</svg>Заказать звонок</a>
			<div class="myfooter__contact-item myfooter__social">
				<a class="myfooter__social-item" title="SOCIAL" role="link" href="#"><svg role="picture-svg" class="glyphs__facebook-logo"><use xlink:href="#id-glyphs-facebook-logo"></use></svg></a>
				<a class="myfooter__social-item" title="SOCIAL" role="link" href="#"><svg role="picture-svg" class="glyphs__vk-logo"><use xlink:href="#id-glyphs-vk-logo"></use></svg></a>
				<a class="myfooter__social-item" title="SOCIAL" role="link" href="#"><svg role="picture-svg" class="glyphs__instagram-logo"><use xlink:href="#id-glyphs-instagram-logo"></use></svg></a>
			</div>
		</div>
		<div class="myfooter__copyright">
			<div class="myfooter__copyright-item">© Сколково Парк</div>
			<a class="myfooter__copyright-item myfooter__copyright-document" title="URL" role="link" href="#">Проектная декларация</a>
			<a class="myfooter__copyright-item myfooter__copyright-download" title="FILE" role="link" href="#">
			<svg role="picture-svg" class="glyphs__download-pdf"><use xlink:href="#id-glyphs-download-pdf"></use></svg>
			Скачать брошюру</a>
		</div>
	</address>
</div>
