<div role="navigation" class="myheader__section myheader__section--background">
	<nav class="myheader myheader__box">
		<div class="myheader__item myheader__panel">
			 
				<div class="myheader__panel-item myheader__list">
					<a class="myheader__list-item myheader__list-color-a" title="URL" role="link" href="#"><div class="myheader__list-rotate">О проекте</div></a>
					<a class="myheader__list-item myheader__list-color-a" title="URL" role="link" href="#"><div class="myheader__list-rotate">Расположение</div></a>
					<a class="myheader__list-item myheader__list-color-a" title="URL" role="link" href="#"><div class="myheader__list-rotate">Окружение</div></a>
					<a class="myheader__list-item myheader__list-color-a" title="URL" role="link" href="#"><div class="myheader__list-rotate">Территория</div></a>
				</div>
				<a class="myheader__panel-item myheader__list" title="URL" role="link" href="#">
					<picture><img class="img-fluid align-self-center" alt="Picture" title="Picture"
					src="./media/img/mainpage-assets/LOGO.png"></picture>
				</a>
				<div class="myheader__panel-item myheader__list">
					<a class="myheader__list-item myheader__list-color-b" title="URL" role="link" href="#"><div class="myheader__list-rotate">Выбрать квартиру</div></a>
					<a class="myheader__list-item myheader__list-color-b" title="URL" role="link" href="#"><div class="myheader__list-rotate">Качество</div></a>
					<a class="myheader__list-item myheader__list-color-b" title="URL" role="link" href="#"><div class="myheader__list-rotate">Новости</div></a>
					<a class="myheader__list-item myheader__list-color-b" title="URL" role="link" href="#"><div class="myheader__list-rotate">Контакты</div></a>
				</div>
		 
		</div>
		<!-- <div class="myheader__item myheader__panel"></div> -->
		<a class="myheader__item myheader__favorites" title="URL" role="link" href="#">
			<div class="myheader__favorites-text">Избранное</div>
			<div class="myheader__favorites-count">99</div>
			<div class="myheader__favorites-bubble">&nbsp;</div>
		</a>
	</nav>
</div>
