<div role="backgroundslider" class="hero__box hero__box--background  js__sliderBackground" style="background-image: url(media/img/mainpage-assets/hero-background-00.jpg);"></div>

<div role="wrapper" class="hero__box">
	<section class="bonus__section">
		<div class="bonus bonus__box">
			<div class="bonus__item bonus__button js__openBonusText">
				<div class="bonus__button-text">Подлинный премиум-класс</div>
				<div class="bonus__button-arrow">
					<span class="bonus__button-line">&nbsp;</span>
					<span class="bonus__button-line">&nbsp;</span>
				</div>
			</div>
			<div class="bonus__item bonus__content">
				<p class="bonus__content-text">Первое, что открывается взгляду гостей и жильцов — роскошный английский парк и каскадная набережная из натуральной сибирской лиственницы от бюро H. E. D. Далее, изящные фасады из юрского мрамора, маульброннского песчаника. Но главное — покоряющее своим великолепием лобби, выполненное из престижных материалов по эскизам архитекторов из Scott Brownrigg.

					Окружение дополняет концепцию премиального образа жизни: километры вело-прогулочных дорожек, огромный благоустроенный «Парк Мещерский», неповторимый гольф клуб «СКОЛКОВО», английские школы и сады, бизнес-парк высочайшего класса и многое другое.

					Видео о том, каким должен быть премиум-класс
				</p>
				<div class="bonus__content-close js__openBonusTextClose">
					<span class="bonus__content-line">&nbsp;</span>
					<span class="bonus__content-line">&nbsp;</span>
				</div>
			</div>
		</div>
	</section>

	<section class="gallary__section gallary__section--background">
		<div class="gallary gallary__box">
			<div class="gallary__item gallary__nav ">
				<div class="gallary__nav-text js__sliderText">
					__NULL__
				</div>
				<div class="gallary__nav-panel js__sliderPagination">
					
					<div class="gallary__nav-item">
						<p class="gallary__nav-descript">
							«Сколково парк» — это жилой комплекс премиум-класса в престижном пригороде мирового уровня.
						</p>
						<picture><img class="gallary__nav-picture" alt="Picture" title="Picture"
							src="./media/img/mainpage-assets/hero-background-mini-00.jpg"></picture>
					</div>
					<div class="gallary__nav-item">
						<p class="gallary__nav-descript">
							В рамках проекта на территории более 500 гектар в Одинцовском районе Московской области к 2015 году построены жилой комплекс премиум-класса «Сколково Парк для Жизни», гольф-клуб «Сколково»
						</p>
						<picture><img class="gallary__nav-picture" alt="Picture" title="Picture"
							src="./media/img/mainpage-assets/hero-background-mini-01.jpg"></picture>
					</div>
					<div class="gallary__nav-item">
						<p class="gallary__nav-descript">
							 проведены работы по благоустройству Парка Мещерский и проложена часть участка сети вело-прогулочных дорожек, впоследствии, который достигнет 26 км,
						</p>
						<picture><img class="gallary__nav-picture" alt="Picture" title="Picture"
							src="./media/img/mainpage-assets/hero-background-mini-02.jpg"></picture>
					</div>
					<div class="gallary__nav-item">
						<p class="gallary__nav-descript">
							также в рамках проекта будет построен бизнес-парк "Сколково Парк для Бизнеса". Совокупные инвестиции в проект составляют более $1 млрд.
						</p>
						<picture><img class="gallary__nav-picture" alt="Picture" title="Picture"
							src="./media/img/mainpage-assets/hero-background-mini-03.jpg"></picture>
					</div>
					<div class="gallary__nav-item">
						<p class="gallary__nav-descript">
							Природный парк площадью 465 гектар расположен на территории бывшего Баковского лесопарка в 500 метрах от МКАД Западного направления.
						</p>
						<picture><img class="gallary__nav-picture" alt="Picture" title="Picture"
							src="./media/img/mainpage-assets/hero-background-mini-04.jpg"></picture>
					</div>
					<div class="gallary__nav-item">
						<p class="gallary__nav-descript">
							Парк Мещерский является одним из проектов «Сколково Парк», на благоустройство Парка на 2013 года компания Millhouse, которая приобрела участок лесопарка на правах долгосрочной аренды, потратила более $24 млн.
						</p>
						<picture><img class="gallary__nav-picture" alt="Picture" title="Picture"
							src="./media/img/mainpage-assets/hero-background-mini-05.jpg"></picture>
					</div>
				</div>
			</div>


			<div class="gallary__item gallary__project">
				<div class="gallary__project-item">
					<picture class="gallary__project-cover"><img class="gallary__project-img" alt="Picture" title="Picture"
						src="./media/img/mainpage-assets/proj-1.png"></picture>
						<p class="gallary__project-text">Фотогалерея</p>
				</div>
				<div class="gallary__project-item">
					<picture class="gallary__project-cover"><img class="gallary__project-img x--hack-resize" alt="Picture" title="Picture"
							src="./media/img/mainpage-assets/proj-2.png"></picture>
						<p class="gallary__project-text ">Видео о проекте</p>
				</div>
				<div class="gallary__project-item">
					<picture class="gallary__project-cover"><img class="gallary__project-img" alt="Picture" title="Picture"
								src="./media/img/mainpage-assets/proj-3.png"></picture>
						<p class="gallary__project-text">Ход строительства</p>
				</div>
			</div>


			<div class="gallary__item gallary__news">
				<a class="gallary__news-mobile" title="URL" role="link" href="#"><picture class="gallary__news-picture">
					<img class="img-fluid align-self-center" alt="Picture" title="Picture"
					src="./media/img/mainpage-assets/news-1.png">
				</picture></a>
					<div class="gallary__news-data">2 марта 2015</div>
					<a class="gallary__news-title" title="URL" role="link" href="#">Повышение цен на 3-х комнатные квартиры</a>
					<a class="gallary__news-next" title="URL" role="link" href="#">Все новости <svg role="picture-svg" class="glyphs__right-arrow"><use xlink:href="#id-glyphs-right-arrow"></use></svg></a>
			</div>
		</div>
	</section>



</div>
